name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # todo remove once fixed https://github.com/actions/setup-node/issues/531
      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'yarn'

      - run: yarn install --immutable
      - run: yarn build
